<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="de.adornis.cordova.contextmenu"
        version="0.0.1-dev">

    <name>Contextmenu</name>
    <author>Adornis Ventures UG (haftungsbeschränkt)</author>
    <description>Context Menu Disable for Android</description>

    <repo>https://github.com/EliArtist/cordova-plugin-contextmenu.git</repo>

    <js-module src="www/ContextMenu.js" name="ContextMenu">
        <clobbers target="ContextMenu"/>
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Contextmenu">
                <param name="android-package" value="de.adornis.cordova.Contextmenu"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/Contextmenu.java" target-dir="src/de/adornis/cordova" />
    </platform>
</plugin>